<%= render 'layouts/header' %>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="font-weight-light">Homebrew's Used Car Home Page</h1>
    </div>
</main>
<%= render 'layouts/footer' %>
