* {
    color: #333333 !important;
}

.btn a{
    // border: red 1px solid !important;
    color: whitesmoke !important;
}

.blue-color {
    // background-color: powderblue !important;

    input {
        background-color: unset !important;
        border: none !important;
    }
}